body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(159, 159, 159, 0.968), rgb(0, 0, 0));
    margin: 0;
    color: white;
}

.calculator {
    display: grid;
    grid-template-rows: auto 1fr repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 1000px;
    height: 600px;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.window {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    height: 200px;
    width: 1000px;
}

.history {
    grid-column: span 4;
    background-color: #000000;
    padding: 10px;
    font-size: 1.6rem;
    overflow-y: auto; /* Ensure scrolling is enabled */
    height: 70px;
    border-left: 0.1px solid #595959;
    border-radius: 3px;
}

.history::-webkit-scrollbar {
    width: 12px; 
}

.history::-webkit-scrollbar-track {
    background: #3c3c3c; /* Color of the track (scrollbar background) */
    border-radius: 4px; /* Rounded corners of the track */
}

.history::-webkit-scrollbar-thumb {
    background-color: #de5900; /* Color of the scrollbar thumb */
    border-radius: 3px; /* Rounded corners of the scrollbar thumb */
    /* Padding around thumb to show track */
}

.display {
    grid-column: span 4;
    background-color: #000000;
    padding: 20px;
    font-size: 2rem;
    text-align: right;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.keys {
    display: grid;
    grid-template-rows: auto 1fr repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    width: 980px;
    height: 370px;
    overflow: hidden;
    color: #f4f4f4;
    padding: 10px;
   
    border-top: 2px solid #595959;
}

.btn {
    font-size: 1.1rem;
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: #994f00;
    cursor: pointer;
    border: 2px solid orange;
    background-color: #000000;
    filter: drop-shadow(orange -2px 2px 2px);
    font-weight: 700;
}

.btn:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.clear {
    border: 2px solid orange;
    grid-column: span 2;
}

.delete {
    border: 2px solid orange;
    grid-column: span 2;
}

.operator {
    background-color: #f4f4f4;
}

.equal {
    background-color: #de5900;
    color: #f4f4f4;
    font-size: 2rem;
}

/* Media Queries */

/* For screens up to 768px */
@media (max-width: 768px) {
    .calculator {
        width: 600px;
        height: 500px;
    }

    .window {
        width: 600px;
        height: 150px;
    }

    .keys {
        width: 580px;
        height: 450px;
    }

    .btn {
        font-size: 1.2rem;
        padding: 15px;
    }

    .equal {
        font-size: 1.8rem;
    }
}

/* For screens up to 425px */
@media (max-width: 425px) {
    .calculator {
        width: 400px;
        height: 400px;
    }

    .window {
        width: 400px;
        height: 100px;
    }

    .keys {
        width: 380px;
        height: 300px;
    }

    .btn {
        font-size: 1rem;
        padding: 10px;
    }

    .equal {
        font-size: 1.5rem;
    }
}

/* For screens up to 375px */
@media (max-width: 375px) {
    .body {
        padding: 0;
    }

    .calculator {
        width: 350px;
        height: 620px;
    }

    .window {
        width: 335px;
        height: 270px;
        position: absolute;
        left: 12px;
        bottom: 375px;
    }

    .history {
        height: 130px;
        background-color: #000000;
    }

    .history::-webkit-scrollbar {
        width: 10px; 
    }
    
    .history::-webkit-scrollbar-track {
        background: #3c3c3c; 
        border-radius: 4px;
    }
    
    .history::-webkit-scrollbar-thumb {
        background-color: #de5900;
        border-radius: 3px; 
    }

    .display {
        background-color: rgb(0, 0, 0);
        height: 150px;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .keys {
        width: 315px;
        height: 320px;
        position: absolute;
        left: 12px;
        bottom: 10px;
        margin-right: 10px;
        background-color: #000000;
        border-top: 2px solid rgba(88, 85, 85, 0.662);
    }

    .btn {
        font-size: 1.9rem;
        padding: 8px;
        font-weight: 400;
        filter: drop-shadow(orange -1px 1px 1px);
        border: 1px solid orange;
    }

    .equal {
        font-size: 2rem;
    }
}

/* For screens up to 320px */
@media (max-width: 320px) {
    .calculator {
        width: 300px;
        height: 300px;
    }

    .window {
        width: 300px;
        height: 70px;
    }

    .keys {
        width: 280px;
        height: 230px;
    }

    .btn {
        font-size: 0.8rem;
        padding: 5px;
    }

    .equal {
        font-size: 1.2rem;
    }
}
